In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (1.1.1)
Requirement already satisfied: pytz>=2017.2 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
data= pd.read_csv("Audiobooks_data.csv", header = None)
data

          0       1     2      3      4   5      6     7       8   9    10  11
0        994  1620.0  1620  19.73  19.73   1  10.00  0.99  1603.8   5   92   0
1       1143  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0    0   0
2       2059  2160.0  2160   5.33   5.33   0   8.91  0.00     0.0   0  388   0
3       2882  1620.0  1620   5.96   5.96   0   8.91  0.42   680.4   1  129   0
4       3342  2160.0  2160   5.33   5.33   0   8.91  0.22   475.2   0  361   0
...      ...     ...   ...    ...    ...  ..    ...   ...     ...  ..  ...  ..
14079  28220  1620.0  1620   5.33   5.33   1   9.00  0.61   988.2   0    4   0
14080  28671  1080.0  1080   6.55   6.55   1   6.00  0.29   313.2   0   29   0
14081  31134  2160.0  2160   6.14   6.14   0   8.91  0.00     0.0   0    0   0
14082  32832  1620.0  1620   5.33   5.33   1   8.00  0.38   615.6   0   90   0
14083    251  1674.0  3348   5.33  10.67   0   8.91  0.00     0.0   0    0   1

[14084 rows x 12 columns]

In [3]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,10,11
count,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000
mean,16772.491551,1591.281685,1678.608634,7.103791,7.543805,0.160750,8.909795,0.125659,189.888983,0.070222,61.935033,0.158833
std,9691.807248,504.340663,654.838599,4.931673,5.560129,0.367313,0.643406,0.241206,371.084010,0.472157,88.207634,0.365533
min,2.000000,216.000000,216.000000,3.860000,3.860000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8368.000000,1188.000000,1188.000000,5.330000,5.330000,0.000000,8.910000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,16711.500000,1620.000000,1620.000000,5.950000,6.070000,0.000000,8.910000,0.000000,0.000000,0.000000,11.000000,0.000000
75%,25187.250000,2160.000000,2160.000000,8.000000,8.000000,0.000000,8.910000,0.130000,194.400000,0.000000,105.000000,0.000000
max,33683.000000,2160.000000,7020.000000,130.940000,130.940000,1.000000,10.000000,1.000000,2160.000000,30.000000,464.000000,1.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14084 entries, 0 to 14083
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       14084 non-null  int64
 1   1       14084 non-null  float64
 2   2       14084 non-null  int64
 3   3       14084 non-null  float64
 4   4       14084 non-null  float64
 5   5       14084 non-null  int64
 6   6       14084 non-null  float64
 7   7       14084 non-null  float64
 8   8       14084 non-null  float64
 9   9       14084 non-null  int64
 10  10      14084 non-null  int64
 11  11      14084 non-null  int64
dtypes: float64(6), int64(6)
memory usage: 1.3 MB

In [5]:
data.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
dtype: int64

In [6]:
data[11].value_counts()

0    11847
1     2237
Name: 11, dtype: int64

In [7]:
!pip install sklearn
import numpy as np
from sklearn import preprocessing

Requirement already satisfied: sklearn in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from sklearn) (0.23.2)
Requirement already satisfied: numpy>=1.13.3 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /home/akash/anaconda3/envs/py3_tf2/lib/python3.6/site-packages (from scikit-learn->sklearn) (0.16.0)

In [8]:
raw_csv_data = np.loadtxt('Audiobooks_data.csv', delimiter=',')
unscaled_inputs_all = raw_csv_data[:,1:-1]
targets_all=raw_csv_data[:,-1]

In [9]:
shuffled_indices = np.arange(unscaled_inputs_all.shape[0])
np.random.shuffle(shuffled_indices)

unscaled_inputs_all = unscaled_inputs_all[shuffled_indices]
targets_all = targets_all[shuffled_indices]

In [10]:
num_one_targets = int(np.sum(targets_all))
zero_targets_counter = 0
indices_to_remove = []

In [11]:
for i in range(targets_all.shape[0]): 
    if targets_all[i] == 0:
        zero_targets_counter += 1 
        if zero_targets_counter > num_one_targets:
            indices_to_remove.append(i)

In [12]:
unscaled_inputs_equal_priors = np.delete(unscaled_inputs_all, indices_to_remove, axis=0)
targets_equal_priors = np.delete(targets_all, indices_to_remove, axis=0)

In [13]:
scaled_inputs = preprocessing.scale(unscaled_inputs_equal_priors)

In [14]:
shuffled_indices = np.arange(scaled_inputs.shape[0])
np.random.shuffle(shuffled_indices)

shuffled_inputs = scaled_inputs[shuffled_indices]
shuffled_targets = targets_equal_priors[shuffled_indices]

In [15]:
samples_count = shuffled_inputs.shape[0]

train_samples_count= int(0.8*samples_count)
validation_samples_count = int(0.1*samples_count)
test_samples_count= samples_count - train_samples_count -validation_samples_count

train_inputs = shuffled_inputs[:train_samples_count]
train_targets = shuffled_targets[:train_samples_count]

validation_inputs = shuffled_inputs[train_samples_count:train_samples_count+validation_samples_count]
validation_targets = shuffled_targets[train_samples_count:train_samples_count+validation_samples_count]

test_inputs = shuffled_inputs[train_samples_count+validation_samples_count:]
test_targets = shuffled_targets[train_samples_count+validation_samples_count:]

In [16]:
print(np.sum(train_targets)/train_samples_count, train_samples_count)
print(np.sum(validation_targets)/validation_samples_count, validation_samples_count)
print(np.sum(test_targets)/test_samples_count, test_samples_count)

0.5029337803855826 3579
0.4697986577181208 447
0.5066964285714286 448

In [17]:
np.savez('Audiobooks_data_train', inputs= train_inputs, targets=train_targets)
np.savez('Audiobooks_data_validation', inputs= validation_inputs, targets=validation_targets)
np.savez('Audiobooks_data_test', inputs= test_inputs, targets=test_targets)